* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  color: #333;
  line-height: 1;
  max-width: 767px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
img {
  width: 100%;
}
.list {
  margin-bottom: 100px;
}
footer {
  max-width: 767px;
  width: calc(100% - 30px);
  padding: 20px 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #fff;
}
footer ul {
  display: flex;
}
footer ul li {
  width: calc(100% / 4);
  text-align: center;
}